<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Onemart Online Store</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        {% if not request.user.is_authenticated %}
            <div class="container mt-5">
                <h1>Welcome to Onemart Online Store</h1>
                <p>You are not logged in.</p>
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/signup" class="btn btn-secondary">Signup</a>
            </div>
        {% else %}
            <div class="container mt-5">
                <h1>Welcome, {{ request.user.get_full_name }}!</h1>
                 <p>Your role: {{ request.user.role }}</p>
                <h1>User is authenticated.</h1>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        {% endif %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
